<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css'>
	</head>
	<body>
		<div class="cards">
  <article>
    <header>
      <h2>Card One</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer.</p>
    </footer>
  </article>
  
  <article>
    <header>
      <h2>Card Two</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer. This footer has much more content then the designer expected.</p>
    </footer>
  </article>
  
  <article>
    <header>
      <h2>Card Three</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer.</p>
    </footer>
  </article>
  
  <article>
    <header>
      <h2>Card Four</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer.</p>
    </footer>
  </article>
  
  <article>
    <header>
      <h2>Card Five</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer.</p>
    </footer>
  </article>
  
  <article>
    <header>
      <h2>Card Six</h2>
    </header>

    <div class="content">
      <p>My cards are laid out using CSS Grid to create a neatly aligned set of cards.</p>
    </div>

    <footer>
      <p>This is the footer.</p>
    </footer>
  </article>

</div>
	</body>
</html>
